---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'

const collection = 'work' // work' or 'blog'
const allContents = await getCollection(collection)
const nonDraftContents = allContents.filter((c) => !c.data.draft)
const seo = {
  title: 'Andrei Bonamin - UI Designer - Work'
}
---

<BaseLayout head={seo}>
  <ul>
    {
      nonDraftContents.map((c) => (
        <li>
          <a class="hover:bg-slate-300" href={'/' + collection + '/' + c.slug}>
            <Image src={c.data.cover} alt={c.data.coverAlt} />
            {c.data.contentTitle}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
