---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import type { Props as HeadProps } from '../components/Head.astro'

export interface Props {
  head?: HeadProps
}
const { head } = Astro.props
---

<html lang="en">
  <Head {...head} />
  <body class="text-gainsboro-grey-900">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
